<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{testimonial.name}}'s testimonial</title>
  </head>
  <body>
    <h1>Testimonial</h1>
    <p>This is what {{testimonial.name}} had to say:</p>
    <p>{{testimonial.message}}</p>
    <a href="{{url_for('show_testimonial',id=testimonial.id)}}"
      ><button>view all</button></a
    >
  </body>
</html>
